# PinMAME Build Artifacts
xpinmame
xpinmame.*
xpinmamed.*
*.obj/
*.cbj/
*.a
*.o

# Release Files
release/roms/*zip

# Debugger Logs & Temp Files
*.txt
*.log
*.bin
*.ppm
suite_log.txt
test_log.txt
log.txt

# OS/Editor Files
.DS_Store
.vscode/
.idea/
